header{
  height: 110px;
  background: #9933cc;
}
footer{
  height: 70px;
  background: #33b5e5;

}
main{
  height: 345px;
}
.r_a_desion{
  height: 35px;
  background: #33b5e5;
}
.r_ar_desion{
  height: 330px;
  background: #33b5e5;
}